{% extends 'base.html' %}

{% block title %}College Organizations{% endblock %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<h2>Organizations</h2>
<p>These organizations pertain to college students in Seattle.</p>

<div class="row">
  <div class="column">
    <div class="card">
      <h4><strong>Books To Prisoners</strong></h4>
      <p>Help this Incarceration Reform initiative by fostering a love for reading behind bars</p>
      <a href="https://www.bookstoprisoners.net/" class="text-dark">Help Out Locally</a>   
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h4><strong>American Red Cross</strong></h4>
      <p>Donate blood, Volunteer during Disasters/Emergencies, or Advocate Digitally</p>
      <a href="https://www.redcross.org/" class="text-dark">Help Out Globally</a>  
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h4><strong>Seattle Small Businesses</strong></h4>
      <p>Help some of the small business in Seattle with kind donations</p>
      <a href="https://saveseattlesmb.wixsite.com/saveseattlesmb/copy-of-kirkland" class="text-dark">Donate</a>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h4><strong>R.O.O.T.S. Aid During COVID</strong></h4>
      <p>Rising Out Of the Shadows needs volunteers to help out at the young adult shelter</p>
      <a href="https://rootsinfo.org/volunteer-with-us-covid19" class="text-dark">Volunteer</a> 
    </div>
  </div>
</div>
</div>
<br/><br/><br/><br/><br/>
</body>
</html>




{% endblock %}