{% extends 'base.html' %}

{% block title %}High School Organizations{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
<h2>Organizations</h2>
<p>These organizations pertain to high schoolers in Seattle.</p>

<div class="row">
  <div class="column">
    <div class="card">
      <h4><strong>Black Lives Matter</strong></h4>
      <p>Build power to bring justice, healing and freedom to Black people across the globe</p>
      <a href="https://blacklivesmatter.com/about/" class="text-dark">Help Out Globally</a>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h4><strong>Youth Community Help</strong></h4>
      <p>Support your own community by building awareness among the youth</p>
      <a href="http://www.communityforyouth.org/" class="text-dark">Help Out Locally</a>  
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h4><strong>Radical Women</strong></h4>
      <p>Help lead the underrepresented strong female voices through this challenged world</p>
      <a href="http://www.radicalwomen.org/" class="text-dark">Help Out Locally</a> 
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h4><strong>Seattle Dogs Homeless Program</strong></h4>
      <p>Provide care and support for fur babies that are struggling</p>
      <a href="https://seattledogs.info/" class="text-dark">Donate</a>     
    </div>
  </div>
</div>
</div>
<br/><br/><br/><br/><br/>
</body>
</html>





{% endblock %}