{% extends 'base.html' %}

{% block title %}Join An Organization{% endblock %}

{% block content %}
<link href="static/style.css" rel="stylesheet">
<div class="container">
    <h1>Join An Organization</h1>
    <p>We believe in privacy. You can use our matching tool without identifying yourself.</p>
    <br/>
    <div class="btn-group" role="group" aria-label="Basic example">
        <form action="hsorgs">
            <button type="submit" class="btn btn-secondary">High Schooler</button> 
        </form>
        <form action="corgs">
            <button type="submit" class="btn btn-secondary">College Student</button>
        </form>
    </div>
    


    <!--<p><strong>Are you a high school student or a college student?</strong></p>
    <select class="form-control">
        <option>Default select</option>
        <option name="highschooler">High School</option>
        <option name="collegestudent">College Student</option>
    </select><br/>
    <button type="submit" class="buttoncolor"><h5 style="color:white;">Submit</h5></button>-->
</div>
<br/><br/>





{% endblock %}