{% extends 'base.html' %}

{% block title %}Join An Organization{% endblock %}

{% block content %}
<link href="static/style.css" rel="stylesheet">
<div class="container">
    <h1>Join An Org</h1>
    <br/><br/>
    <p><strong>Are you a high school student or a college student?</strong></p>
    <select class="form-control">
        <option>Default select</option>
        <option name="highschooler">High School</option>
        <option name="collegestudent">College Student</option>
    </select><br/>
    <button type="submit" class="buttoncolor"><h5 style="color:white;">Submit</h5></button>
</div>
<br/><br/>





{% endblock %}