h1{
    color: rgb(6, 14, 6);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 20px;
    color: rgb(0, 20, 5);
    font-family: sans-serif;
}
blockquote{
    font-size: 35px;
}
body{
    background: cadetblue;
}
