h1{
    color: rgb(6, 14, 6);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p{
    font-size: 20px;
    color: rgb(0, 20, 5);
    font-family: sans-serif;
}
blockquote{
    font-size: 35px;
    color: rgb(5, 50, 15);
    font-family: sans-serif;
}
body{
    background: #FFE6E6;
}

button {
    background: #0c1233;
}

h2{
    text-align: left;
    font-size: 70px;
}
